  <h3 class="crmname" >
    <i class="small material-icons">radio_button_checked</i>
    &nbsp;&nbsp;{{title}}&nbsp;&nbsp;
    <i class="small material-icons">radio_button_checked</i>
  </h3>
  
  <h5 class="pageuser">Manager: John Doe</h5>
    