      <div class="menu">

        <ul>
          <li>
            <a href="#">
              <i class="small material-icons">system_update_alt</i><br>
              <span>Log in</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">person</i><br>
              <span>Register</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">mail_outline</i><br>
              <span style="font-size: 0.9rem;">Send message</span>
            </a>
          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

            </a>
          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
    
      </div>
