      <div class="menu">

        <ul>
          <li onclick="pushtomain('/newstudent')">
            <a href="#">
              <i class="small material-icons">child_care</i><br>
              <span>New student</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">person</i><br>
              <span>New tutor</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">add_to_queue</i><br>
              <span>Post new job</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">group_add</i><br>
              <span>Match st->tut</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">thumbs_up_down</i><br>
              <span>Check reports</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">people_outline</i><br>
              <span>Students</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">people</i><br>
              <span>Tutors</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">view_comfy</i><br>
              <span>Calendars</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="small material-icons">library_books</i><br>
              <span>Reports</span>
            </a>
          </li>
        </ul>
    
      </div>
