<div class="mainarea">

<h2>Calendars</h2>

<div class="border">

  <div class="row">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

    </form>
  </div>

</div>
</div>