<div class="mainarea">

<h2>New tutor</h2>

<div class="border">

  <div class="row">
    <form class="col s12" action="/manager/addtutor" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input id="tutorfn" type="text" name="tutorfirstname" class="validate" required>
          <label for="tutorfn">First Name*</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
        <div class="input-field col s6">
          <input id="tutorln" type="text" name="tutorlastname" class="validate" required>
          <label for="tutorln">Last Name*</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="tutorem" type="email" name="tutoremail" class="validate" required>
          <label for="tutorem">Email*</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="tutorph" type="number" name="tutorphone" class="validate" required>
          <label for="tutorph">Phone*</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="tutorzip" type="number" name="tutorzip" class="validate" required>
          <label for="tutorzip">Zip code*</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

<button class="btn waves-effect waves-light" type="submit" name="action btn">
  Submit
  <i class="material-icons right">send</i>
</button>

    </form>
  </div>

</div>
</div>
