<div class="mainarea">

<h2>Students</h2>

<div class="border">

  <ul class="collection">

    {{#each students}}
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>{{firstname}} {{lastname}}</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    {{/each}}

  </ul>

</div>
</div>
