<div class="rightside">

<div class="border">

  <div class="row">
    <form class="col s12" action="/manager/rowsnumber" method="POST">

      <div class="row">
        <div class="input-field col s12">
          <input id="rnumber" type="number" name="rowsnumber" class="validate" required min="1" max="50">
          <label for="rnumber">Rows number</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>


      </div>

          <button class="btn-small waves-effect waves-light" type="submit" name="action btn">
            Submit
            <i class="material-icons right">send</i>
          </button>

    </form>
  </div>
</div>
</div>