  <div class="wrapper">

{{> crmname}}

    <div class="allarea">

{{> admin/menuadmin}}

    <div class="workarea">  

{{#if isProfile}}
{{> admin/maaadmin}}
{{> rightside}}
{{/if}}

{{#if isNewmanager}}
{{> admin/maanewmanager}}
{{> rightside}}
{{/if}}

{{#if isManagers}}
{{> admin/maamanagers}}
{{> rightside}}
{{/if}}

{{#if isDatacheck}}
{{> admin/maadatacheck}}
{{> rightside}}
{{/if}}

    </div>
    
    </div>

{{> footer}}

  </div>
