
  <div class="wrapper">

{{> crmname}}

    <div class="allarea">

{{> crm/menucrm}}

    <div class="workarea">  

{{#if isAbout}}
{{> crm/macabout}}
{{> rightside}}
{{/if}}

{{#if isLogin}}
{{> crm/maclogin}}
{{> rightside}}
{{/if}}

{{#if isRegister}}
{{> crm/macregister}}
{{> rightside}}
{{/if}}

{{#if isMessage}}
{{> crm/macmessage}}
{{> rightside}}
{{/if}}

    </div>
    
    </div>

{{> footer}}

  </div>
