
  <div class="wrapper">

{{> crmname}}


    <div class="allarea">


{{> menulogin}}

    <div class="workarea">  
{{> mainarea}}

{{> rightside}}

    </div>
    
    </div>

{{> footer}}

  </div>
