<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
    <title>Crocodile CRM</title>
</head>
<body>

	<header>
		<h4>Crocodile</h4>
		<ul>
			<li>Administrator</li>
			<li>Manager</li>
			<li>Tutor</li>
			<li>Student</li>
		</ul>
		<nav>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</nav>
	</header>
	<aside>Left side</aside>
	<main>
		<section>
			<header>

			</header>
		</section>

		<section>
			Main table
		</section>

		<section>
			<footer></footer>
		</section>
	</main>

	<footer>


	</footer>

</body>
</html>
