
  <div class="wrapper">

{{> crmname}}


    <div class="allarea">


{{> menumanager}}

      <div class="workarea">  

{{#if isManager}}
{{> mainareamanager}}
{{/if}}

{{#if isNewtutor}}
{{> mainareatutor}}
{{/if}}

{{> rightside}}
      </div>
    </div>

{{> footer}}

  </div>
