
  <div class="wrapper">

{{> crmname}}

    <div class="allarea">

{{> manager/menumanager}}

      <div class="workarea">  

{{#if isProfile}}
{{> manager/mammanager}}
{{/if}}

{{#if isNewstudent}}
{{> manager/mamnewstudent}}
{{/if}}

{{#if isNewtutor}}
{{> manager/mamnewtutor}}
{{/if}}

{{#if isNewjob}}
{{> manager/mamnewjob}}
{{/if}}

{{#if isMatch}}
{{> manager/mammatch}}
{{/if}}

{{#if isCheck}}
{{> manager/mamcheck}}
{{/if}}

{{#if isStudents}}
{{> manager/mamstudents}}
{{/if}}

{{#if isTutors}}
{{> manager/mamtutors}}
{{/if}}

{{#if isCalendars}}
{{> manager/mamcalendars}}
{{/if}}

{{#if isReports}}
{{> manager/mamreports}}
{{/if}}

{{> rightside}}
      </div>
    </div>

{{> footer}}

  </div>
