  <div class="wrapper">

{{> crmname}}

    <div class="allarea">

{{> student/menustudent}}

    <div class="workarea">  

{{#if isProfile}}
{{> student/masstudent}}
{{> rightside}}
{{/if}}

{{#if isSendrequest}}
{{> student/massendrequest}}
{{> rightside}}
{{/if}}

{{#if isCalendar}}
{{> student/mascalendar}}
{{> rightside}}
{{/if}}

{{#if isSummary}}
{{> student/massummary}}
{{> rightside}}
{{/if}}

    </div>
    
    </div>

{{> footer}}

  </div>

