  <div class="wrapper">

{{> crmname}}


    <div class="allarea">

{{> tutor/menututor}}

    <div class="workarea">  

{{#if isProfile}}
{{> tutor/mattutor}}
{{/if}}

{{#if isGetjob}}
{{> tutor/matgetjob}}
{{/if}}

{{#if isPlanmeeting}}
{{> tutor/matplanmeeting}}
{{/if}}

{{#if isWritereport}}
{{> tutor/matwritereport}}
{{/if}}

{{#if isSummary}}
{{> tutor/matsummary}}
{{/if}}

{{> rightside}}

    </div>
    
    </div>

{{> footer}}

  </div>

