  <div class="wrapper">

{{> crmname}}

    <div class="allarea">

{{> tutor/menututor}}

    <div class="workarea">  

{{#if isProfile}}
{{> tutor/mattutor}}
{{> rightside}}
{{/if}}

{{#if isGetwork}}
{{> tutor/matgetwork}}
{{> rightside}}
{{/if}}

{{#if isPlanmeeting}}
{{> tutor/matplanmeeting}}
{{> rightside}}
{{/if}}

{{#if isWritereport}}
{{> tutor/matwritereport}}
{{> rightside}}
{{/if}}

{{#if isSummary}}
{{> tutor/matsummary}}
{{> rightside}}
{{/if}}

    </div>
    
    </div>

{{> footer}}

  </div>

