* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(151, 207, 119); */
}

:root {
  --color-main: #1EBEB4;
  --color-grey: #E9E9E9;
  --color-grey-text: #9E9E9E;
  --border-grey: #EEEEEE;
  --color-light_grey: #F7F7F7;
  --color-white: #FFFFFF;
  --color-black: #383A3F;
  --color-red: #EE5744;
  --color-yellow: #FDB94B;
}

body {
  height: 100vh;
  background-color: var(--color-grey);
}

.wrapper {
  width: 90%;
  margin-left: 14px;
}

.crmname {
  text-align: center;
}

.pageuser {
  text-align: end;
  color: var(--color-main);
}

.crmname > i {
  color: var(--color-main);
}

nav {
  background-color: var(--color-main);
  padding: 0 9% 0 1%;
}

.allarea {
  display: flex;
  justify-content: space-between;
}

.workarea {
  display: flex;
  justify-items: left;
  flex-grow: 1;
  background-color: var(--color-white);
}

.menu {
  background-color: var(--color-black);
}

.menu > ul > li {
  text-align: center;
  color: var(--color-white);
  width: 98px;
  height: 86px;
  box-sizing: border-box;
  padding-top: 15px;
}

.menu > ul > li.pasmenu:hover {
  background-color: var(--color-main);
}

.menu > ul > li > a {
  display: block;
  color: var(--color-white);
}

.acmenu {
  background-color: var(--color-white);
}

.acmenu a {
  color: var(--color-black)!important;
}

.mainarea {
  width: 70%;
}

.mainarea > h2 {
  text-align: center;
  color: var(--color-grey);
}

.person {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.person > div {
  width: 40%;
  outline: 1px solid var(--color-grey);
}

.person h5 {
  color: var(--color-main)
}

.border {
  margin: 3%;
  padding: 3%;
  outline: 1px solid var(--color-grey);
}

.rightside {
  flex-grow: 1;
  background-color: var(--color-light_grey);
  outline: 1px solid var(--border-grey);
}

.iphone {
  display: flex;
}

.iphone > span {
  color: var(--color-grey-text);
  align-self: center;
}

.iphone > i {
  color: var(--color-grey-text);
  align-self: center;
  margin-bottom: 25px;
}

#pcontact {
  display: none;
}