<div class="mainarea">

<h2>About</h2>

<div class="person">

  <div class="bio">
    <h5>Crocodile CRM</h5>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique exercitationem veritatis consequuntur. Exercitationem ducimus porro ex molestiae eligendi quasi tenetur sint amet expedita impedit, unde necessitatibus distinctio itaque, consequuntur quas.
  </div>

  <div class="photo">
    <i class="large material-icons">android</i>

  </div>

</div>

</div>
