<div class="mainarea">

<h2>New manager</h2>

<div class="border">

  <div class="row">
    <form class="col s12" action="/admin/addmanager" method="POST">

      <div class="row">
        <div class="input-field col s6">
          <input id="managerfn" type="text" name="managerfirstname" class="validate" required>
          <label for="managerfn">First Name*</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field col s6">
          <input id="managerln" type="text" name="managerlastname" class="validate" required>
          <label for="managerln">Last Name*</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <div class="row iphone">
        <i class="small material-icons">add</i>
        <div class="input-field col s5">
          <input id="managerph" type="number" name="managerphone" class="validate" required>
          <label for="managerph">Phone*</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field col s6">
          <input id="managerem" type="email" name="manageremail" class="validate" required>
          <label for="managerem">Email*</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="managerzip" type="text" name="managerzip" class="validate" required>
          <label for="managerzip">Zip code*</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="managerj" type="text" name="managerjob" class="validate">
          <label for="managerj">Job title</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

<button class="btn waves-effect waves-light" type="submit" name="action btn">
  Submit
  <i class="material-icons right">send</i>
</button>

    </form>
  </div>

</div>
</div>
